<h1>hello</h1>	
<% current_user.addresses.first do |address| %>
		<%= address.university %>
		<%= address.campus %>
		<%= address.location %><br/>
		<%= address.user_name %>
		电话:<%= address.phone_number %>
<% end %>