<div class="ui grid">
	<div class="row">

		<div class="ui two wide column">
		</div>

		<div class="ui twelve wide column">
			<%= form_tag create_order_path do %>
			<br>
			<h3 class="ui black block header">收货人信息</h3>
			<div id="order_address">
			</div>
			<% if @address.present? %>
				<%= @address.university %>
				<%= @address.campus %>
				<%= @address.location %><br/>
				<%= @address.user_name %>
				<%= @address.phone_number %><br>
				<%= link_to "修改配送地址",select_address_path %>
				<%= hidden_field :order,:address_id,value: @address.id %>
			<% else %>
    
			<div id="order_create_from">
				<h2>创建配送地址</h2>

	<!-- 创建新的地址
	建个新建地址的form，建成后ajax返回地址 -->
	<div class="ui form segment">
		<%= form_tag create_address_path,remote: true do %>         
		<div class="two fields">
			<div class="field">
				<label>大学</label>
				<%= text_field(:address, :university) %>
			</div>
			<div class="field">
				<label>校区</label>
				<div class="ui fluid selection dropdown">
					<div class="text">北辰校区</div>
					<i class="dropdown icon"></i>
					<input type="hidden" name="address[campus]">
					<div class="menu">
						<div class="item" data-value="male">北辰校区</div>
						<div class="item" data-value="female">红桥校区</div>
					</div>
				</div>
			</div>
		</div>
		<div class="field">
			<label>地址</label>
			<%= text_field :address, :location %>
		</div>
		<div class="field">
			<label>姓名</label>
			<%= text_field(:address, :user_name) %>
		</div>
		<div class="field">
			<label>联系电话</label>
			<%= text_field(:address, :phone_number) %>
		</div>
		<%= submit_tag "创建配送地址",class: "ui blue submit button" %>
		<% end %> 
	</div>
</div>

<% end %>
<h3 class="ui black block header">商品清单</h3>
<table class="ui table segment">
	<thead>
		<!-- image -->
		<!-- <th>商品图片</th> -->
		<!-- product name -->
<!-- 		<th>商品名称</th>
		<th>价格</th>
		<th>数量</th> -->
	</thead>
	<tbody>
		<% cart_products.each do |product,i|%>
		<tr data-id=<%= product.id %> >
			<td><%= image_tag product.image ,class: "ui mini image "%></td>
			<td ><%= product.name %></td>
			<td class="td_price"><%= product.price %></td>
			<td><%= $redis.hget(current_user_cart,product.id) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<h4 class="ui right aligned header">
	总共 <%= cart_quantity %> 件商品，
	商品总金额: <%= cart_amount %>
	<%= link_to "修改购物车商品" %>
</h4>
<h3 class="ui black block header">附言</h3>
<div class="ui form">
	<div class="field">
		<%= text_field :order,:remark,placeholder: "还有什么需要特殊交代的么？" %>
	</div>
</div>


<%= submit_tag "提交订单",class: "ui red button" %>
<%= link_to "提交订单",create_order_path,method: :post,class: "ui red button" %>
<% end %>
</div>
</div>


<div class="ui two wide column">	
</div>

</div>
</div>
current_user address size:<%= current_user.addresses.size %><br/>
current_user id:<%= current_user.id %><br/>
current_user_cart: <%= current_user_cart %><br>
cart_quantity: <%= cart_quantity %> <br>
cart_amount: <%= cart_amount %> <br>
cart_products species : <%= cart_products.size %>


