<div class="ui grid">
	<div class="row">

		<div class="ui twelve wide column">

			<h2 class="ui header">
    <i class="cart icon"></i>  购物车
  </h2>
			<table class="ui table segment">
				<thead>
					<th></th>
					<th></th>
					<th>价格</th>
					<th>数量</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<% @cart_products.each do |product,i|%>
					<tr data-id=<%= product.id %> >
						<td><%= image_tag product.image ,class: "ui small image "%></td>
						<td ><%= product.name %></td>
						<td class="td_price"><%= product.price %></td>
						<td><%= select_tag "number", options_for_select((1..10).step(1), $redis.hget(current_user_cart,product.id)),class: 'number'	%></td>
						<td><%= link_to "删除",remove_from_path(product),class: "remove",
							method: :put,remote: true %><td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			<div class="ui four wide column ">
				<div class="ui segment">
					<h2>小计:</h2>
					一共<span id="cart_number"><%= @cart_quantity %></span>件商品)<br/>	
					￥ <span id="cart_amount"><%= @cart_amount %></span><br/>
					<%= link_to "进入结算中心",select_address_path,class: "ui red mini button"%>
				</div>
			</div>
		</div>
	</div>



<% content_for :javascript do%>
<script type="text/javascript">
	// 计算所有商品的价格
	function countAmount (){
		var price_array = $('.table').find('.td_price:visible');//jquery fadeout后元素仍然在网页上，用visible来选择
		var Amount = 0;
		$.each(price_array,function () {
		var price = +$(this).text();
		Amount = Amount + price;
		})
		$('#cart_amount').text(Amount);
	}
	// ajax计算amount,改变页面amount
	function countAmount2 () {
		$.ajax({
			url:"/calculate_amount",
			type:"PUT"
		});
	}
	// 改变redis数据库中商品数量 
	function countNumber () {
		var number_array = $('.table').find('.number:visible');
		var sum=0;
		$.each(number_array,function(){
			var number = +$(this).val();
			sum = sum + number;
			$('#cart_number').text(sum);
	    $('#cart').text(sum);
		});
	}

	$(document).ready(function () {
 		// countAmount();
 		// countNumber();
 		// countAmount2();

		// 点击remove,fadeOut效果
		// ajax请求已有rails发送，
		$('table').on('click','.remove',function(){
			$(this).closest('tr').fadeOut("slow",function () {
				countNumber();
		 		countAmount2();
			});
		})

		// 点击select数量,改变	商品总数
		$('.table').on('change','.number',function () {
	 	  // 要注意顺序，先改变单个商品数量，在计算总价
      // 发送改变redis数据库中，单个商品数量的ajax请求
      var product_id = $(this).closest('tr').data('id');
      var select_number = $(this).val();
	 		jQuery.ajax({   // ajax改变总量，changeQuantity
		    url: "/change_quantity",
		    type: "PUT",
		    data: {"product_id": product_id,
							    "number" : select_number },
			  success: function(data) {
			  	countAmount2(); // 修改单个商品数量，成功后改变商品总价
        }
			  });
			});
		});

</script>
<% end %>