<div class="ui form segment">
	<%= form_tag create_address_path do %>         
		<div class="two fields">
			<div class="field">
				<label>大学</label>
				<%= text_field(:address, :university) %>
			</div>
			<div class="field">
				<label>校区</label>
				<div class="ui fluid selection dropdown">
					<div class="text">北辰校区</div>
					<i class="dropdown icon"></i>
					<input type="hidden" name="address[campus]" value="北辰校区">
					<div class="menu">
						<div class="item" data-value="北辰校区">北辰校区</div>
						<div class="item" data-value="红桥校区">红桥校区</div>
					</div>
				</div>
			</div>
		</div>
		<div class="field">
			<label>地址</label>
			<%= text_field :address, :location %>
		</div>
		<div class="field">
			<label>姓名</label>
			<%= text_field(:address, :user_name) %>
		</div>
		<div class="field">
			<label>联系电话</label>
			<%= text_field(:address, :phone_number) %>
		</div>
		<%= hidden_field :address,:user_id,value: current_user.id %>
		<%= submit_tag "创建配送地址",class: "ui blue submit button" %>
	<% end %> 
</div>