<% if current_user.addresses.present? %>
 current_user.addresses.present
<div class="ui grid segment">
  <div class="row">
    <div class="ten wide column">
     Address:
      <% current_user.addresses.each do |address| %>  
                <%= address.university %>
                <%= address.campus %>
                <%= address.location %><br/>
                <%= address.user_name %>
                <%= address.phone_number %>
      <% end %>   
    </div>
    <div class="six wide column">
      hello
    </div>
  </div>
</div>
<% else %>
  <!-- 显示创建地址表单 -->
  <h2>Address Unpresent</h2>
<% end %>


<div class="ui grid">
  <div class="row">
    <div class="ui eleven wide column">
      <div class="ui form segment">
        <%= form_tag create_address_path do %>         
          <div class="two fields">
            <div class="field">
              <label>大学</label>
              <%= text_field(:address, :university) %>
            </div>
            <div class="field">
              <label>校区</label>
             <div class="ui fluid selection dropdown">
                <div class="text">北辰校区</div>
                <i class="dropdown icon"></i>
                <input type="hidden" name="address[campus]">
                <div class="menu">
                  <div class="item" data-value="male">北辰校区</div>
                  <div class="item" data-value="female">红桥校区</div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>地址</label>
            <%= text_field :address, :location %>
          </div>
          <div class="field">
            <label>姓名</label>
            <%= text_field(:address, :user_name) %>
          </div>
          <div class="field">
            <label>联系电话</label>
            <%= text_field(:address, :phone_number) %>
          </div>
          <%= hidden_field(:address, :user_id, value: current_user.id) %>
        <%= submit_tag "创建配送地址",class: "ui blue submit button" %>
       <% end %> 
      </div>
    </div>

    <div class="ui five wide column">    
    </div>
  </div>
</div>
<% content_for :javascript do%>
<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>
<% end %>