<div class="ui four items">
  <% @products.each do |product| %>
    <div class="item">
      <div class="image">
        <%= image_tag product.image %>
      </div>
      <div class="content">
        <div class="name">
          <%= product.name %>
        </div>
        ￥<%= product.price %><br/>
        <%= form_tag add_to_path(product) ,method: :put,remote: true do%>
          <%= select_tag "number", options_for_select((1..10).step(1)),
          class: 'number'  %>
          <%= submit_tag "添加到购物车",class: "ui red mini button"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>