<!DOCTYPE html>
<html>
<head>
  <title>Zhaitx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/menu' %>
  <% if notice%>
	<p class="ui yellow message"><%= notice %></p>
	<% elseif %>
  <p class="ui red message"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
